<div class="card">

    <div class="card-header">
      <div class="post-title">
        <div class="float-left">
          <img class="float-left" src="../../../assets/images/{{newsfeed.videopost.profileimg}}" alt="pimg" height="40" width="40" style="border-radius: 50%" />
          <div class="float-left ml-2">
            <h6><a href="#">{{newsfeed.videopost.profilename}}</a></h6>
            <span>{{newsfeed.videopost.duration}}</span>
           <img src="../../../assets/images/{{newsfeed.videopost.icon}}">
          </div>
        </div>
        <div class="float-right">
          <a href="#">
            <i class="fas fa-ellipsis-h "></i>
          </a>
        </div>
      </div>
      <div class="post-par">
        <p class="float-right">{{newsfeed.videopost.text}}</p>
      </div>
    </div>
    <div class="card-body">
      <div class="post-img">
          <div class="overlay">
            </div>
            <div class="video-option">
                <i class="fab fa-youtube"></i>
            </div>
        <img src="../../../assets/images/{{newsfeed.videopost.postvid}}" alt="pimg" width="100%">
      </div>
      <div class="p-2">
        <div class="float-left">
            <img src="../../../assets/images/{{newsfeed.videopost.likes}}" alt="pimg">
        </div>
        <div class="float-right">
          <span>{{newsfeed.videopost.comments}}</span>
        </div>
      </div>
      <hr class="hr-1">
      <div class="row">
      <button *ngFor = "let button of newsfeed.videopost.sharing"type="button" class="col-md-4 btn create-btn"><i class="fas {{button.img}}"></i> {{button.text}}</button>
    </div>
    </div>
  </div>