<div class="card">
    <div class="card-header">
      <div class="post-title">
        <div class="float-left">
         
          <div class="float-left">
            <h6>stories</h6>
           
          </div>
        </div>
        
      
    </div>
    <div class="card-body">
    <ul class="pl-0">
      <li>
        <img class= "float-left" src="../../../assets/images/the-verge.png" alt="pimg" height="60" width="60" style="border-radius: 50%" />
        <div class="float-left ml-3 mb-4">
          <h5 class="mb-0"><a href="#">anas ali</a></h5>
          <span>about one our ago</span>
        </div>
      </li>
      <li>
        <img class= "float-left" src="../../../assets/images/the-verge.png" alt="pimg" height="60" width="60" style="border-radius: 50%" />
        <div class="float-left ml-3 mb-4">
          <h5 class="mb-0"><a href="#">anas ali</a></h5>
          <span>about one our ago</span>
        </div>
      </li>
      <li>
          <img class= "float-left" src="../../../assets/images/the-verge.png" alt="pimg" height="60" width="60" style="border-radius: 50%" />
          <div class="float-left ml-3 mb-4">
            <h5 class="mb-0"><a href="#">anas ali</a></h5>
            <span>about one our ago</span>
          </div>
        </li>
        <li>
            <img class= "float-left" src="../../../assets/images/the-verge.png" alt="pimg" height="60" width="60" style="border-radius: 50%" />
            <div class="float-left ml-3 mb-4">
              <h5 class="mb-0"><a href="#">anas ali</a></h5>
              <span>about one our ago</span>
            </div>
          </li>
    </ul>
      
    </div>
  
  </div>
